.page-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.register {
    background-color: #264653;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}